In [16]:
import pandas as pd
from apyori import apriori

In [25]:
df=pd.read_csv("market.csv")
df

,Bread,Honey,Bacon,Toothpaste,Banana,Apple,Hazelnut,Cheese,Meat,Carrot,...,Milk,Butter,ShavingFoam,Salt,Flour,HeavyCream,Egg,Olive,Shampoo,Sugar
0,1,0,1,0,1,1,1,0,0,1,...,0,0,0,0,0,1,1,0,0,1
1,1,1,1,0,1,1,1,0,0,0,...,1,1,0,0,1,0,0,1,1,0
2,0,1,1,1,1,1,1,1,1,0,...,1,0,1,1,1,1,1,0,0,1
3,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,1,0,1,1,1,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,0,1,1,0,0,1,1,1,1,1,...,1,1,0,0,1,1,1,1,1,0
460,0,0,1,0,0,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,1
461,0,0,0,0,0,1,0,1,1,0,...,1,0,0,0,0,0,1,0,0,0
462,1,0,0,1,1,0,1,1,0,1,...,1,0,0,0,1,0,1,1,0,1
463,1,0,1,0,0,0,1,0,0,1,...,1,0,1,0,1,1,1,0,0,1

In [26]:
oht = pd.get_dummies(df[['Bread', 'Honey', 'Bacon', 'Toothpaste', 'Banana', 'Apple', 'Hazelnut',
       'Cheese', 'Meat', 'Carrot', 'Cucumber', 'Onion', 'Milk', 'Butter',
       'ShavingFoam', 'Salt', 'Flour', 'HeavyCream', 'Egg', 'Olive', 'Shampoo',
       'Sugar']], columns=['Bread', 'Honey', 'Bacon', 'Toothpaste', 'Banana', 'Apple', 'Hazelnut',
       'Cheese', 'Meat', 'Carrot', 'Cucumber', 'Onion', 'Milk', 'Butter',
       'ShavingFoam', 'Salt', 'Flour', 'HeavyCream', 'Egg', 'Olive', 'Shampoo',
       'Sugar'])
oht

,Bread_0,Bread_1,Honey_0,Honey_1,Bacon_0,Bacon_1,Toothpaste_0,Toothpaste_1,Banana_0,Banana_1,...,HeavyCream_0,HeavyCream_1,Egg_0,Egg_1,Olive_0,Olive_1,Shampoo_0,Shampoo_1,Sugar_0,Sugar_1
0,False,True,True,False,False,True,True,False,False,True,...,False,True,False,True,True,False,True,False,False,True
1,False,True,False,True,False,True,True,False,False,True,...,True,False,True,False,False,True,False,True,True,False
2,True,False,False,True,False,True,False,True,False,True,...,False,True,False,True,True,False,True,False,False,True
3,False,True,False,True,True,False,False,True,True,False,...,True,False,False,True,False,True,False,True,True,False
4,True,False,False,True,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,True,False,False,True,False,True,True,False,True,False,...,False,True,False,True,False,True,False,True,True,False
460,True,False,True,False,False,True,True,False,True,False,...,True,False,False,True,True,False,True,False,False,True
461,True,False,True,False,True,False,True,False,True,False,...,True,False,False,True,True,False,True,False,True,False
462,False,True,True,False,True,False,False,True,False,True,...,True,False,False,True,False,True,True,False,False,True
463,False,True,True,False,False,True,True,False,True,False,...,False,True,False,True,True,False,True,False,False,True

In [27]:
from apyori import apriori
rules = apriori(transactions = oht, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2,use_colnames=True)
results=list(rules)

In [28]:
def inspect(results):
    lhs=[tuple(result[2][0][0])[0] for result in results]
    rhs=[tuple(result[2][0][1])[0] for result in results]
    support=[result[1] for result in results]
    confidence=[result[2][0][2] for result in results]
    lift=[result[2][0][3] for result in results]
    return list(zip(lhs,rhs,support,confidence,lift))
result_new=pd.DataFrame(inspect(results),columns=['lhs','rhs','support','confidence','lift'])
result_new.sort_values(by="lift",ascending=False)[:10]

   lhs rhs   support  confidence       lift
17   b   c  0.045455    1.000000  11.000000
15   T   s  0.045455    1.000000  11.000000
9    M   k  0.045455    0.500000  11.000000
1    A   p  0.045455    1.000000   7.333333
4    E   g  0.045455    1.000000   7.333333
14   T   p  0.045455    1.000000   7.333333
7    H   y  0.090909    0.666667   7.333333
8    H   z  0.045455    0.333333   7.333333
24   i   k  0.045455    0.250000   5.500000
18   b   m  0.045455    1.000000   5.500000

In [29]:
results[1][1]

0.045454545454545456

In [30]:
results[1][2][0][3]

7.333333333333334

In [31]:
oht.columns

Index(['Bread_0', 'Bread_1', 'Honey_0', 'Honey_1', 'Bacon_0', 'Bacon_1',
       'Toothpaste_0', 'Toothpaste_1', 'Banana_0', 'Banana_1', 'Apple_0',
       'Apple_1', 'Hazelnut_0', 'Hazelnut_1', 'Cheese_0', 'Cheese_1', 'Meat_0',
       'Meat_1', 'Carrot_0', 'Carrot_1', 'Cucumber_0', 'Cucumber_1', 'Onion_0',
       'Onion_1', 'Milk_0', 'Milk_1', 'Butter_0', 'Butter_1', 'ShavingFoam_0',
       'ShavingFoam_1', 'Salt_0', 'Salt_1', 'Flour_0', 'Flour_1',
       'HeavyCream_0', 'HeavyCream_1', 'Egg_0', 'Egg_1', 'Olive_0', 'Olive_1',
       'Shampoo_0', 'Shampoo_1', 'Sugar_0', 'Sugar_1'],
      dtype='object')